{% extends 'accordion/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'accordion/css/style.css' %}">
{% endblock css %}
{% block content %}
<div class="wrapper col-12">
    <div class="d-flex flex-column justify-content-start align-items-center py-5 col-lg-8 mx-auto">
        <h1 class="mb-5">Selamat Datang \^-^/</h1>
        <div class="accordion col-md-10 p-0 mt-2 accordion-1" id="accor1">
            <div class="header d-flex justify-content-between align-items-center">
                <h2 class="pl-4 py-2 title col-9 mb-0">Perkenalan singkat</h2>
                <div class="buttons d-flex justify-content-end justify-content-end col-3 p-0">
                    <div class="up p-2 d-flex align-items-center justify-content-center col-6"><h2>^</h2></div>
                    <div class="down p-2 d-flex align-items-center justify-content-center col-6"><h2>V</h2></div>
                </div>
            </div>
            <div class="content">
                <p class="px-4 py-3 m-0">Halo perkenalkan saya Aldi.</p>
                <p class="px-4 py-3 m-0">Saya merupakan pelajar di Universitas Indonesia</p>
                <p class="px-4 py-3 m-0">Saya mengambil jurusan ilmu komputer</p>
                <p class="px-4 py-3 m-0">2020 adalah masa yang sulit</p>
                <p class="px-4 py-3 m-0">Tolong semangatnya yah!</p>
            </div>
        </div>
        <div class="accordion col-md-10 p-0 mt-2 accordion-2" id="accor2">
            <div class="header d-flex justify-content-between align-items-center">
                <h2 class="pl-4 py-2 title col-9 mb-0">aktivitas saat ini</h2>
                <div class="buttons d-flex justify-content-end col-3 p-0">
                    <div class="up p-2 d-flex align-items-center justify-content-center col-6"><h2>^</h2></div>
                    <div class="down p-2 d-flex align-items-center justify-content-center col-6"><h2>V</h2></div>
                </div>
            </div>
            <div class="content">
                <div class="px-4 py-3 m-0">
                    <p>Rutinitas perminggu saya:</p>
                    <ul class="m-0">
                        <li>Belajar online</li>
                        <li>Mengerjakan tugas perkuliahan</li>
                        <li>Bersepeda pada hari minggu(ketika tidak ada tugas)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion col-md-10 p-0 mt-2 accordion-3" id="accor3">
            <div class="header d-flex justify-content-between align-items-center">
                <h2 class="pl-4 py-2 title col-9 mb-0">pengalaman organisasi/kepanitiaan</h2>
                <div class="buttons d-flex justify-content-end col-3 p-0">
                    <div class="up p-2 d-flex align-items-center justify-content-center col-6"><h2>^</h2></div>
                    <div class="down p-2 d-flex align-items-center justify-content-center col-6"><h2>V</h2></div>
                </div>
            </div>
            <div class="content">
                <div class="px-4 py-3 m-0">
                    <ul class="m-0">
                        <li>Koordinator training camp paskibra Ricci</li>
                        <li>Koordinator training camp palang merah remaja Ricci</li>
                        <li>Web Developer at Schedule with me</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion col-md-10 p-0 mt-2 accordion-4" id="accor4">
            <div class="header d-flex justify-content-between align-items-center">
                <h2 class="pl-4 py-2 title col-9 mb-0"> prestasi</h2>
                <div class="buttons d-flex justify-content-end col-3 p-0">
                    <div class="up p-2 d-flex align-items-center justify-content-center col-6"><h2>^</h2></div>
                    <div class="down p-2 d-flex align-items-center justify-content-center col-6"><h2>V</h2></div>
                </div>
            </div>
            <div class="content">
                
                <div class="px-4 py-3 m-0">
                    <ul class="m-0">
                        <li>Masuk Fakultas Ilmu Komputer Universitas Indonesia jalur SBMPTN</li>
                        <li>Ranking 3 umum SMA</li>
                        <li>partisipasi olimpiade Matematika SMA</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion col-md-10 p-0 mt-2 accordion-5" id="accor5">
            <div class="header d-flex justify-content-between align-items-center">
                <h2 class="pl-4 py-2 title col-9 mb-0">Contact</h2>
                <div class="buttons d-flex justify-content-end col-3 p-0">
                    <div class="up p-2 d-flex align-items-center justify-content-center col-6"><h2>^</h2></div>
                    <div class="down p-2 d-flex align-items-center justify-content-center col-6"><h2>V</h2></div>
                </div>
            </div>
            <div class="content">
                <div class="px-4 py-3 m-0 d-flex flex-column">
                    <div class="d-flex">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1200px-Instagram_logo_2016.svg.png" height="30" width="30" class="mr-2">
                        <h4><a href="https://www.instagram.com/aladster_tjendana/">Instagram</a></h4> 
                    </div>
                    <div class="d-flex mt-2">
                        <img src="https://www.transparentpng.com/thumb/facebook-logo/facebook-logo-png-file-8.png" height="30" width="30" class="mr-2">
                        <h4><a href="https://www.facebook.com/profile.php?id=100005583944719">FaceBook</a></h4> 
                    </div>
                    <div class="d-flex mt-2">
                        <img src="https://www.transparentpng.com/thumb/send-email-button/YsCg7r-send-email-button-high-quality-png.png" height="30" width="30" class="mr-2">
                        <h4><a href="mailto:aldi91@ui.ac.id">Email</a></h4> 
                    </div>
                </div>
            </div>
        </div>  
        <div class="change-theme d-flex align-items-center mt-4">
            <h4 class="mr-2">Dark Mode</h4>
            <input type="checkbox" hidden="hidden" id="theme">
            <label class="switch" for="theme"></label>
        </div>
    </div>
</div>
<script src="{% static 'accordion/js/main.js' %}"></script>
{% endblock content %}